<!DOCTYPE html>
<html lang="en">
  {% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/datatables.css' %}">
  <link rel="stylesheet" href="{% static 'style/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'style/awesome-bootstrap-checkbox.css' %}">
   
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href=" https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script>
    
      const currentlocation = location.href;
      const menuItem = document.querySelector('a');
      const menulength = menuItem.length
      for (let i = 0 ; i<menulength.length; i++){
        if (menuItem[i].href === currentlocation){
          menuItem[i].className = "active"
        }
      }
         </script>
    <script>

    
      $(document).ready( function () {
        $('#example').dataTable( {
       "lengthMenu": [ [10, 25, 50, 100, 200, 500, -1], [10, 25, 50, 100, 200, 500,"All"] ]
     } );
           var  DT1 = $('#example').DataTable();
         $(".selectAll").on( "click", function(e) {
             if ($(this).is( ":checked" )) {
                 DT1.rows(  ).select();        
             } else {
                 DT1.rows(  ).deselect(); 
             }
         });
         } ); 
        
          
    </script>
    <script>

      $(window).on('load', function () {
  $('#preloader-active').delay(450).fadeOut('slow');
  $('body').delay(450).css({
    'overflow': 'visible'
  });
});
  </script>
    <title>{% block title %}Email{% endblock %}</title>
    
</head>
{% endblock header %}
<body>

    {% block body %}
    
<!--Preloader Start -->
  

{% block preloader %}
  
<!--Preloader Start -->

<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="{% static 'images/email_logo.jpg' %}">
      </div>
    </div>
  </div>
</div>
<!-- Preloader end -->
{% endblock preloader %}
  
<!-- Preloader end -->
    {% block navbar %}
        <nav>
            <div class="logo-name">
                <div class="logo-image">
                    <img src="{% static 'images/logo.jpg' %}">
                </div>
    
                <span class="logo_name">Emails</span>
            </div>
    
            <div class="menu-items">
                <ul class="nav-links">
                    <li>
                      <a href="#" class="compose">
                        <i class="uil uil-pen"></i>
                      <span class="link-name">Compose</span>
                    </a>
                  </li>
                    <li><a href="/home"> 
                        <i class="uil uil-inbox"></i>
                        <span class="link-name">Inbox</span>
                    </a></li>
                    <li><a href="/sent">
                        <i class="uil uil-message"></i>
                        <span class="link-name">Sent</span>
                    </a></li>
                    <li><a href="/spam">
                        <i class="uil uil-envelope-block"></i>
                        <span class="link-name">Spam</span>
                    </a></li>
                    <li><a href="/trash">
                        <i class="uil uil-trash-alt"></i>
                        <span class="link-name">Trash</span>
                    </a></li>
                
                    <li><a href="/starred">
                        <i class="uil uil-envelope-star"></i>
                        <span class="link-name">Starred</span>
                    </a></li>
                </ul>
                
                <ul class="logout-mode">
                    <li><a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
    
                    <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    
                    <div class="mode-toggle">
                      <span class="switch"></span>
                    </div>
                </li>
                </ul>
            </div>
      </nav>
        {% endblock navbar %}
      {% block dashboard %}
       <section class="dashboard">
            <div class="top">
                <i class="uil uil-bars sidebar-toggle"></i>
    
                <div class="search-box dataTables_filter">
                    <i class="uil uil-search"></i>
                    
                    <input type="search" placeholder="Search here..." aria-controls="example">
                </div>
                
                <img src="{% static 'images/logo.jpg' %}">
            </div>
            
            <div class="dash-content">
              
                <div class="overview">
                    <div class="title">
                        <i class="uil uil-tachometer-fast-alt"></i>
                        <span class="text">Dashboard</span>
                    </div>
    
                    <div class="boxes">
                        <div class="box box1">
                            <i class="uil uil-thumbs-up"></i>
                            <span class="text">Total Emails</span>
                            <span class="number">10120</span>
                        </div>
                        <div class="box box2">
                            <i class="uil uil-comments"></i>
                            <span class="text">Spam</span>
                            <span class="number">2120</span>
                        </div>
                        <div class="box box3">
                            <i class="uil uil-share" ></i>
                            <span class="text">Total Sent</span>
                            <span class="number">1120</span>
                        </div>
                    </div>
                </div>
               
                {% block emails_display %}
                <div class="activity">
                    <div class="title">
                        <i class="uil uil-clock-three"></i>
                        <span class="text">Recent Activity</span>
                    </div>
                   
                    <div class="activity-data">
                        
                        <table id="example" class="display nowrap table-hover table-striped table-bordered table-condensed" width="100%">
                        {% comment %} <table id="example" class="watable  watable-default table table-sm table-striped table-hover table-bordered table-condensed" width="100%"> {% endcomment %}
                          <thead>
                            <tr class="sort">
                              <th>Name</th>
                              <th>email</th>
                              <th>subject </th>
                              <th>date</th>
                            </tr>
                            <tr class="filter">
                              <th><input placeholder="word" class="filter form-control" type="text" data-bs-original-title="" title=""></th>
                              <th><input placeholder="word" class="filter form-control" type="text" data-bs-original-title="" title=""></th>
                              <th><input placeholder="word" class="filter form-control" type="text" data-bs-original-title="" title=""></th>
                              <th><input placeholder="word" class="filter form-control" type="text" data-bs-original-title="" title=""></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>2011/04/25</td>
                            </tr>
                            <tr>
                              <td>Garrett Winters</td>
                              <td>Director</td>
                              <td>Edinburgh</td>
                              <td>2011/07/25</td>
                            </tr>
                            <tr>
                              <td>Ashton Cox</td>
                              <td>Technical Author</td>
                              <td>San Francisco</td>
                              <td>2009/01/12</td>
                            </tr>
                            <tr>
                              <td>Cedric Kelly</td>
                              <td>Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>2012/03/29</td>
                            </tr>
                            <tr>
                              <td>Jenna Elliott</td>
                              <td>Financial Controller</td>
                              <td>Edinburgh</td>
                              <td>2008/11/28</td>
                            </tr>
                            <tr>
                              <td>Brielle Williamson</td>
                              <td>Integration Specialist</td>
                              <td>New York</td>
                              <td>2012/12/02</td>
                            </tr>
                            <tr>
                              <td>Herrod Chandler</td>
                              <td>Sales Assistant</td>
                              <td>San Francisco</td>
                              <td>2012/08/06</td>
                            </tr>
                            <tr>
                              <td>Rhona Davidson</td>
                              <td>Integration Specialist</td>
                              <td>Edinburgh</td>
                              <td>2010/10/14</td>
                            </tr>
                            <tr>
                              <td>Colleen Hurst</td>
                              <td>Javascript Developer</td>
                              <td>San Francisco</td>
                              <td>2009/09/15</td>
                            </tr>
                            <tr>
                              <td>Sonya Frost</td>
                              <td>Software Engineer</td>
                              <td>Edinburgh</td>
                              <td>2008/12/13</td>
                            </tr>
                            <tr>
                              <td>Jena Gaines</td>
                              <td>System Architect</td>
                              <td>London</td>
                              <td>2008/12/19</td>
                            </tr>
                            <tr>
                              <td>Quinn Flynn</td>
                              <td>Financial Controller</td>
                              <td>Edinburgh</td>
                              <td>2013/03/03</td>
                            </tr>
                            <tr>
                              <td>Charde Marshall</td>
                              <td>Regional Director</td>
                              <td>San Francisco</td>
                              <td>2008/10/16</td>
                            </tr>
                            <tr>
                              <td>Haley Kennedy</td>
                              <td>Senior Marketing Designer</td>
                              <td>London</td>
                              <td>2012/12/18</td>
                            </tr>
                            <tr>
                              <td>Tatyana Fitzpatrick</td>
                              <td>Regional Director</td>
                              <td>London</td>
                              <td>2010/03/17</td>
                            </tr>
                            <tr>
                              <td>Michael Silva</td>
                              <td>Senior Marketing Designer</td>
                              <td>London</td>
                              <td>2012/11/27</td>
                            </tr>
                            <tr>
                              <td>Paul Byrd</td>
                              <td>Javascript Developer</td>
                              <td>New York</td>
                              <td>2010/06/09</td>
                            </tr>
                            <tr>
                              <td>Gloria Little</td>
                              <td>Systems Administrator</td>
                              <td>New York</td>
                              <td>2009/04/10</td>
                            </tr>
                            <tr>
                              <td>Bradley Greer</td>
                              <td>Software Engineer</td>
                              <td>London</td>
                              <td>2012/10/13</td>
                            </tr>
                            <tr>
                              <td>Dai Rios</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>2012/09/26</td>
                            </tr>
                            <tr>
                              <td>Jenette Caldwell</td>
                              <td>Financial Controller</td>
                              <td>New York</td>
                              <td>2011/09/03</td>
                            </tr>
                            <tr>
                              <td>Yuri Berry</td>
                              <td>System Architect</td>
                              <td>New York</td>
                              <td>2009/06/25</td>
                            </tr>
                            <tr>
                              <td>Caesar Vance</td>
                              <td>Technical Author</td>
                              <td>New York</td>
                              <td>2011/12/12</td>
                            </tr>
                            <tr>
                              <td>Doris Wilder</td>
                              <td>Sales Assistant</td>
                              <td>Edinburgh</td>
                              <td>2010/09/20</td>
                            </tr>
                            <tr>
                              <td>Angelica Ramos</td>
                              <td>System Architect</td>
                              <td>London</td>
                              <td>2009/10/09</td>
                            </tr>
                            <tr>
                              <td>Gavin Joyce</td>
                              <td>Developer</td>
                              <td>Edinburgh</td>
                              <td>2010/12/22</td>
                            </tr>
                            <tr>
                              <td>Jennifer Chang</td>
                              <td>Regional Director</td>
                              <td>London</td>
                              <td>2010/11/14</td>
                            </tr>
                            <tr>
                              <td>Brenden Wagner</td>
                              <td>Software Engineer</td>
                              <td>San Francisco</td>
                              <td>2011/06/07</td>
                            </tr>
                            <tr>
                              <td>Ebony Grimes</td>
                              <td>Software Engineer</td>
                              <td>San Francisco</td>
                              <td>2010/03/11</td>
                            </tr>
                            <tr>
                              <td>Russell Chavez</td>
                              <td>Director</td>
                              <td>Edinburgh</td>
                              <td>2011/08/14</td>
                            </tr>
                            <tr>
                              <td>Michelle House</td>
                              <td>Integration Specialist</td>
                              <td>Edinburgh</td>
                              <td>2011/06/02</td>
                            </tr>
                            <tr>
                              <td>Suki Burks</td>
                              <td>Developer</td>
                              <td>London</td>
                              <td>2009/10/22</td>
                            </tr>
                            <tr>
                              <td>Prescott Bartlett</td>
                              <td>Technical Author</td>
                              <td>London</td>
                              <td>2011/05/07</td>
                            </tr>
                            <tr>
                              <td>Gavin Cortez</td>
                              <td>Technical Author</td>
                              <td>San Francisco</td>
                              <td>2008/10/26</td>
                            </tr>
                            <tr>
                              <td>Martena Mccray</td>
                              <td>Integration Specialist</td>
                              <td>Edinburgh</td>
                              <td>2011/03/09</td>
                            </tr>
                            <tr>
                              <td>Unity Butler</td>
                              <td>Senior Marketing Designer</td>
                              <td>San Francisco</td>
                              <td>2009/12/09</td>
                            </tr>
                            <tr>
                              <td>Howard Hatfield</td>
                              <td>Financial Controller</td>
                              <td>San Francisco</td>
                              <td>2008/12/16</td>
                            </tr>
                            <tr>
                              <td>Hope Fuentes</td>
                              <td>Financial Controller</td>
                              <td>San Francisco</td>
                              <td>2010/02/12</td>
                            </tr>
                            <tr>
                              <td>Vivian Harrell</td>
                              <td>System Architect</td>
                              <td>San Francisco</td>
                              <td>2009/02/14</td>
                            </tr>
                            <tr>
                              <td>Timothy Mooney</td>
                              <td>Financial Controller</td>
                              <td>London</td>
                              <td>2008/12/11</td>
                            </tr>
                            <tr>
                              <td>Jackson Bradshaw</td>
                              <td>Director</td>
                              <td>New York</td>
                              <td>2008/09/26</td>
                            </tr>
                            <tr>
                              <td>Miriam Weiss</td>
                              <td>Support Engineer</td>
                              <td>Edinburgh</td>
                              <td>2011/02/03</td>
                            </tr>
                            <tr>
                              <td>Bruno Nash</td>
                              <td>Software Engineer</td>
                              <td>London</td>
                              <td>2011/05/03</td>
                            </tr>
                            <tr>
                              <td>Odessa Jackson</td>
                              <td>Support Engineer</td>
                              <td>Edinburgh</td>
                              <td>2009/08/19</td>
                            </tr>
                            <tr>
                              <td>Thor Walton</td>
                              <td>Developer</td>
                              <td>New York</td>
                              <td>2013/08/11</td>
                            </tr>
                            <tr>
                              <td>Finn Camacho</td>
                              <td>Support Engineer</td>
                              <td>San Francisco</td>
                              <td>2009/07/07</td>
                            </tr>
                            <tr>
                              <td>Elton Baldwin</td>
                              <td>Data Coordinator</td>
                              <td>Edinburgh</td>
                              <td>2012/04/09</td>
                            </tr>
                            <tr>
                              <td>Zenaida Frank</td>
                              <td>Software Engineer</td>
                              <td>New York</td>
                              <td>2010/01/04</td>
                            </tr>
                            <tr>
                              <td>Zorita Serrano</td>
                              <td>Software Engineer</td>
                              <td>San Francisco</td>
                              <td>2012/06/01</td>
                            </tr>
                            <tr>
                              <td>Jennifer Acosta</td>
                              <td>Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>2013/02/01</td>
                            </tr>
                            <tr>
                              <td>Cara Stevens</td>
                              <td>Sales Assistant</td>
                              <td>New York</td>
                              <td>2011/12/06</td>
                            </tr>
                            <tr>
                              <td>Hermione Butler</td>
                              <td>Director</td>
                              <td>London</td>
                              <td>2011/03/21</td>
                            </tr>
                            <tr>
                              <td>Lael Greer</td>
                              <td>Systems Administrator</td>
                              <td>London</td>
                              <td>2009/02/27</td>
                            </tr>
                            <tr>
                              <td>Jonas Alexander</td>
                              <td>Developer</td>
                              <td>San Francisco</td>
                              <td>2010/07/14</td>
                            </tr>
                            <tr>
                              <td>Shad Decker</td>
                              <td>Regional Director</td>
                              <td>Edinburgh</td>
                              <td>2008/11/13</td>
                            </tr>
                            <tr>
                              <td>Michael Bruce</td>
                              <td>Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>2011/06/27</td>
                            </tr>
                            <tr>
                              <td>Donna Snider</td>
                              <td>System Architect</td>
                              <td>New York</td>
                              <td>2011/01/25</td>
                            </tr>
                            <tr>
                              <td>Donna Snider</td>
                              <td>System Architect</td>
                              <td>Paris</td>
                              <td>2011/01/30</td>
                            </tr>
                            <tr>
                              <td>Donna Snider</td>
                              <td>System Architect</td>
                              <td>Madrid</td>
                              <td>2015/08/25</td>
                            </tr>
                            <tr>
                              <td>Donna Snider</td>
                              <td>System Architect</td>
                              <td>Rabat</td>
                              <td>2007/01/25</td>
                            </tr>
                          </tbody>
                        </table>
                           <!-- end tables alpha-->
                    </div>
                </div>
                {% endblock emails_display %}
            </div>
           <!-- start tables alpha-->

        </section>
        {% endblock dashboard %}

        {% block additionaljs %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/Dash.js' %}"></script>
      <script src="{% static 'js/datatables.js' %}"></script>
   <script src="{% static 'js/dataTables.checkboxes.min.js' %}"></script>
   
        {% endblock additionaljs %}
        {% endblock body %}

    </body>
   

</html>
