<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    <title>login</title>
    <script>
      var pwd = document.getElementById("pwd");
      var eye = document.getElementById("eye");

      eye.addEventListener("click", togglePass);

      function togglePass() {
        eye.classList.toggle("active");

        pwd.type == "password" ? (pwd.type = "text") : (pwd.type = "password");
      }
    </script>
  </head>
  <body>
    <div id="particles-js"> </div>
    {% load static %}
    <script src="{% static 'js/particles.min.js' %}"></script>

    <div class="animated bounceInDown">
      <div class="container">
        <span class="error animated tada" id="msg"></span>
        <form name="form1" class="box" onsubmit="return checkStuff()"  method="post" action="#" >
          {% csrf_token %}
          <h4>Admin<span>Dashboard</span></h4>
          <h5>Sign in to your account.</h5>
          <input type="text" name="email" placeholder="Email" autocomplete="off"/>
          <i class="typcn typcn-eye" id="eye"></i>
          <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off"/>
          <label>
            <!-- <input type="checkbox"> -->
            <!-- <span></span> -->
            <small class="rmb"
              >Remember To active IMAP/POP Settings. And Allow Access App for
              GMAIL and YAHOO</small
            >
          </label>
          <!-- <a href="#" class="forgetpass">Forget Password?</a> -->
          <input type="submit" value="Sign in" class="btn1" />
        </form>
        <!-- <a href="#" class="dnthave">Don’t have an account? Sign up</a> -->
      </div>
      <div class="footer">
        <!-- <span>Made with <i class="fa fa-heart pulse"></i> <a href="https://www.google.de/maps/place/Augsburger+Puppenkiste/@48.360357,10.903245,17z/data=!3m1!4b1!4m2!3m1!1s0x479e98006610a511:0x73ac6b9f80c4048f"><a href="https://codepen.io/lordgamer2354">By Anees Khan</a></span> -->
      </div>
    </div>
    
  </body>
</html>
